.memes {
    max-width: auto;
    max-height: auto;
    padding: 20px
}

.thumbnails2 img {
    /* border-radius: 50px; */
    max-width: 200px;
    max-height: 200px;
    padding: 20px;
}

.thumbnails2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 220px;
    grid-auto-flow: dense;
}

.father {
    position: relative;
}

.son {
    position: absolute;
    top: 30px;
    left: 180px;
}

.trash-btn {
    z-index: 2;
    color: #ffffff;
    opacity: 50%;
    filter: drop-shadow(2px 2px 2px #000000);
}

.trash-btn:hover {
    z-index: 2;
    opacity: 100%;
    color:#ff5040;
    transition: all 0.2s;
}


.thumbnail2 {
    border-radius: 30px;
    grid-column: auto / span 1;
    position: relative;
}